.vscode/
libs/
obj/
img/
otros/
assets/tests/
assets/otros/
assets/Fonts/
docs/mouse/
docs/otros/
docs/vector/
dsk/*.IM*
dsk/*.com
dsk/*.COM
dsk/*.DDB
dsk/savegame.*
dsk/LOADING.IM*
dsk_orig/*.*
msx2daad.*
dskdos/*.*
*.BAT
*.SCE
*.sce
DC*.EXE
dsk7
wiki
bin/MSXDOS/
bin/bin2sc2.php
bin/dsk2rom
bin/MSXDOS.zip
bin/PlayerAkg_SoundEffects.asm
bin/PlayerAkg.asm
bin/testdaad
INTSD.EXE
kaka.*
package/
unitTests/obj
unitTests/dsk/*.com
.agents
_tmp*/
dsk*/
TEST.*
timg.sh
include/asm.h
include/*_cpm.h
include/*_pctxt.h
src/*_cpm.c
src/*_pctxt.c
*.png
*.pctxt
*.dsk